// Import page-specific CSS files here.
@import "home";

body {
  background-color: #FEF1E6;
}

.hero {
  width: 1035px;
  height: 680px;
  display: block;
  position: absolute;
  right: 5%;
  top: 10%;
  border-radius: 16px !important;
}

.card-welcome {
  width: 760px;
  height: 535px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  position: absolute;
  left: 5%;
  bottom: 7%;
  border-radius: 16px !important;
  padding-left: 2%;
  padding-right: 2%;
  h1 {
    font-size: 5rem;
    padding: 4%;
  }
}

.welcome-booking-form {
  background-color: #e8e8e8;
  width: inherit;
  border-radius: 0 0 16px 16px;
  border: 0;
  flex-grow: 1
}
