@import "home";

.cards-container {
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-columns: repeat(auto-fill, 250px);
  // https://getflywheel.com/layout/card-layout-css-grid-layout-how-to/
  grid-auto-rows: auto;
  // grid-gap: 1rem font-family sans-serif;
  column-gap: 20px;
  row-gap: 20px;



  a {
    color: rgba(67, 62, 60, 0.759);
    text-decoration: none;
    display: flex;
    flex-grow: 0;
    background-color: rgba(1, 0, 14, 0.1);
    border-radius: 00%;

  }

}

.card-ours {

  background-color: #fff;
  border-radius: 10%;
  padding: .5rem;
}
