@import "home";

.cards-container {
  padding-top: 1px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  column-gap: 1rem;
  row-gap: 2rem;
  a {
    height:fit-content;
    display: flex;
    padding: 16px 8px;
    flex-grow: 0;
    background-color: #fff;
    border-radius: 12px;
    color: rgb(27, 27, 27);
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 28px, rgba(40, 40, 40, 0.12) 0px 10px 10px;
  }
  a:hover {
    scale: 1.05;
    transition: scale 0.4s ease;
  }
  .flat-description {
    line-height: 1.3;
  }
}

.our-card {
  justify-content: center;
  height: 100%;
  .image-index {
    max-height: fit-content;
    border-radius: 6px;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
}

.div-button-price {
  height: 0;
  position: relative;
  bottom: -6px;
  .btn {
    min-width: 50px;
    height: fit-content;
    opacity: 85%;
    box-shadow: 0 0 5px 3px #07050094;
    * {
      opacity: 1;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 480px) {
  .cards-container {
    grid-template-columns: 1fr;
  }

  .div-button-price {
    height: 0;
    .btn {
      min-width: 50px;
      height: fit-content;
      opacity: 85%;
      box-shadow: 0 0 5px 3px #07050094;
      * {
        opacity: 1;
        font-weight: bold;
      }
    }
  }
}

