<div class="container mt-2">
  <div class="container mt-3 p-3 bg-white shadow-main rounded">
    <h2>Booking confirmation:</h2>
    <div class="d-flex flex-column">
      <p class="text-decoration-italics">This has been emailed to you at <i><%= @booking.user.email %></i></p>
      <p><%= @booking. %></p>

    </div>
  </div>
</div>
