.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 1000;
  /*font-family: "Nunito", "Helvetica", "sans-serif";*/
  font-family: 'Josefin Sans', sans-serif;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 46px;
  color: blue($color: #000000d1)
}

h3 span {
  color: rgb(15, 224, 252);
}
