.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 1000;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  color: blue($color: #000000d1)
}
