.bg-trans-yellow {
  background:rgba(250, 235, 68, 0.4);
}

.bg-trans-gray {
  background:rgba(127, 127, 127, 0.4);
}

.bg-trans-red {
  background:rgba(250, 68, 68, 0.4);
}

.bg-trans-blue {
  background:rgba(154, 136, 255, 0.4);
}
